.read_more,
.read_more_btn,
.read_more_button,
.subscribe_btn {
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    background-color: hsl(142, 77%, 86%);
    border: none;
    padding: 5% 10%;
    color: hsl(220, 30%, 30%);
    white-space: nowrap;
}


@media screen and (max-width:600px) {

    .head {
        margin: 10% 1% 10% 4%;
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        column-gap: 5%;
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
    }

    .margin_container {
        margin: 2% 5%;
    }

    .head * {
        color: inherit;
    }

    .logo {
        align-self: center;
        line-height: 1.5;
        font-size: 1.4rem;
    }

    .nav_item {
        font-size: 1.2rem;
        margin: 7% 1%;
    }

    .donate {
        grid-column: 1/3;
        justify-self: center;
        font-weight: bold;
        width: 90%;
        margin: 5% 5% 1% 5%;
        padding: 5%;
        border-radius: 30px;
        font-size: 1.4rem;
        background-color: hsl(142, 77%, 86%);
        border: none;
        cursor: pointer;
    }

    .issue {
        background-image: url('../assets/home1.png');
        background-position: 75% 10%;
        background-size: cover;
    }

    .issue h2 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        color: white;
        padding: 10% 10%;
        width: 50%;
        margin-bottom: 15%;
    }

    .issue_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        align-items: center;
        margin-top: 30%;
        font-family: sans-serif;
    }

    .issue_content h3 {
        background-color: hsl(220, 30%, 30%);
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        color: white;
        padding: 4%;
        text-align: center;
        z-index: 2;
        font-weight: normal;
    }

    .issue_content_read {
        background-color: white;
        margin: -5% 10% 10% 10%;
        padding: 10% 5%;
        text-align: center;
        color: hsl(220, 30%, 30%);
    }

    .issue_content_read h4 {
        font-size: 1.5rem;
        margin-bottom: 10%;
    }

    .issue_content_read a {
        text-decoration: underline;
        font-size: 1.2rem;
        color: hsl(220, 30%, 30%);
    }

    .take_action_section {
        background-color: hsl(142, 77%, 86%);
        font-family: sans-serif;
        padding: 10% 3%;
        position: relative;

    }

    .action_tasks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10%;
        row-gap: 10%;
        color: hsl(220, 30%, 30%);
    }

    .take_action {
        background-color: hsl(220, 30%, 30%);
        color: white;
        position: absolute;
        font-family: sans-serif;
        padding: 2% 5%;
        width: 50%;
        bottom: 95%;
        left: 20%;
        text-align: center;

    }

    .actions h4 {
        padding-left: 5%;
    }

    .actions p {
        padding: 5%;
        font-size: 0.9rem;
    }

    .actions h4 {
        font-weight: bold;
        color: darkblue;
    }

    .what_we_do {
        background-color: hsl(220, 30%, 30%);
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        line-height: 1.5;
        justify-content: center;
    }

    .what_we_do_heading {
        text-align: center;
        background-color: #ffffff;
        margin-left: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        color: hsl(220, 30%, 30%);
        padding: 5%;
        margin-top: 10%;
    }

    .what_we_do h2 {
        color: white;
        text-align: center;
        padding: 15% 10%;
    }

    .what_we_do_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .info_card {
        background-color: white;
        width: 90%;
        margin: 5%;
        margin-bottom: 25%;
    }

    .card_data p {
        padding: 5%;
    }

    .card_data h3 {
        padding-top: 10%;
    }

    .image_what_we_do {
        object-fit: cover;
        width: 75%;
        position: relative;
        margin-top: -15%;
        left: 15%;
    }

    .card_data {
        padding: 0% 5% 10% 5%;
        text-align: center;
        color: hsl(220, 30%, 30%);
    }

    .did_you_know {
        background-image: url(../assets/did-you-know-background.png);
        background-position: 10% 90%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .did_you_know h2 {

        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        color: white;
        padding: 30% 5% 10% 5%;
    }

    .take_action_today {

        border-radius: 30px;
        font-size: 1rem;
        font-weight: bold;
        background-color: hsl(142, 77%, 86%);
        border: none;
        padding: 5% 1%;
        color: hsl(220, 30%, 30%);
        margin-left: 10%;
        margin-bottom: 20%;
        width: 40%;
        cursor: pointer;
    }

    .did_you_know_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
    }

    .did_you_know_cards .card {
        background-color: white;
        color: hsl(220, 30%, 30%);
        width: 90%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        margin-top: 2%;
        padding: 10%;
    }

    .did_you_know_icons {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 7%;
        margin-left: 20%;
    }

    .did_you_know_icons a {
        justify-self: center;
        align-self: center;
        padding: 70%;
        background-color: hsl(142, 77%, 86%);
        border-radius: 50%;
    }

    .did_you_know_cards .card h3 {
        margin-bottom: 5%;
    }

    .did_you_know_cards .card p {
        line-height: 1.2;
    }

    .did-you-know-heading {
        position: relative;
        top: 20px;
        font-weight: normal;
    }



    .did_you_know_heading,
    .stories_heading {
        background-color: hsl(220, 30%, 30%);
        width: 50%;
        color: white;
        text-align: center;
        z-index: 2;
        position: relative;
        left: 25%;
        font-family: sans-serif;
        padding: 5% 2%;
        font-weight: normal;
    }

    .stories_content_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stories img {
        width: 80%;
        height: 70%;
        margin-top: -5%;
    }

    .stories_heading {
        margin-top: 10%;
        left: 0%;
    }

    .stories_content {
        background-color: hsl(220, 30%, 30%);
        width: 80%;
        color: white;
        text-align: center;
        padding: 10% 7%;
        font-size: 1.3rem;
        font-family: sans-serif;
        margin-top: 10%;
        margin-bottom: 15%;
        font-weight: bold;
        line-height: 1.2;
        position: relative;
    }

    .who {
        font-size: 0.8rem;
        padding-top: 10%;
        font-weight: normal;
    }

    .read_more_btn {
        padding: 2% 5%;
        top: 105%;
        left: 30%;
        position: absolute;
    }

    .event {
        background-color: hsl(220, 30%, 30%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
        padding-bottom: 10%;
    }

    .event_content_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .event .quote1 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 2rem;
        color: hsl(0, 0%, 100%);
        text-align: center;
        padding: 10% 10%;
    }

    .event img {
        width: 80%;
        height: 80%;
        margin-top: -8%;
    }

    .event-heading {
        background-color: hsl(0, 0%, 100%);
        padding: 2% 8%;
        margin-top: 5%;
        z-index: 2;
        font-weight: normal;
    }

    .event_data {
        color: #ffffff;
        margin-top: 10%;
        text-align: center;
        padding: 2% 5%;
    }

    .event_data h2,
    p {
        line-height: 1.5;
    }

    .event_data p {
        padding-top: 5%;
    }

    .read_more_button {
        margin-top: 10%;
    }

    .event_heading1,
    .event_heading2 {
        display: none;
    }

    .subscribe {
        background-color: hsl(142, 77%, 86%);
        color: hsl(220, 30%, 30%);
        padding: 10% 1%;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .subscribe .action_btns {
        margin-top: 4%;
        display: flex;
    }

    .subscribe p {
        padding-left: 5%;
    }

    .subscribe_btn {
        background-color: hsl(220, 30%, 30%);
        color: hsl(142, 77%, 86%);
        margin-left: 2%;
    }

    .email {
        border-radius: 35px;
        border: none;
    }

    .footer {
        padding: 10% 5%;
        color: hsl(220, 30%, 30%);
        font-family: sans-serif;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 2%;
        row-gap: 15%;
    }

    .foot_title {
        align-self: center;
        font-size: 2rem;
    }

    .contact_us,
    .follow_us,
    .learn_more {
        line-height: 1.5;
        font-size: 1rem;
    }

    .follow_us a,
    .learn_more a {

        text-decoration: underline;
        color: hsl(220, 30%, 30%);
    }

    .footer h2 {
        margin-left: 60%;
        text-align: right;
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        /* padding: 10% 5% 10% 5%; */
    }

    .desktop_hr {
        display: none;
    }

    .contact_heading {
        line-height: 2;
    }

    .address {
        font-size: 1rem;
    }

}

@media screen and (min-width:601px) {
    .head {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
    }

    .margin_container {
        margin: 2% 5%;
    }

    .head * {
        color: inherit;
    }

    .logo {
        align-self: center;
        line-height: 1.5;
        font-size: 1.4rem;
        width: 15%;
    }

    .head ul {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav_item {
        font-size: 1.2rem;
    }

    .donate {
        border-radius: 30px;
        padding: 0% 2%;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: hsl(142, 77%, 86%);
        border: none;
        cursor: pointer;
    }

    .issue {
        background-image: url('../assets/home1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-family: sans-serif;
    }

    .issue h2 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 5rem;
        color: white;
        margin-top: 10%;
        margin-right: 15%;
        width: 50%;
        margin-bottom: 15%;
    }

    .issue_content {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        align-items: center;
        font-family: sans-serif;
    }

    .issue_content h3 {
        background-color: hsl(220, 30%, 30%);
        width: 20%;
        color: white;
        padding: 1%;
        text-align: center;
        z-index: 2;
        margin: 10% 25% -3% 10%;
        font-weight: normal;
    }

    .issue_content_read {
        background-color: #ffffff;
        margin: 0% 10% 10% 15%;
        padding: 5%;
        text-align: left;
        color: hsl(220, 30%, 30%);
        width: 55%;
    }

    .issue_content_read h4 {
        font-size: 2.5rem;
        margin-bottom: 5%;
        line-height: 1.3;
    }

    .issue_content_read a {
        color: hsl(220, 30%, 30%);
        text-decoration: underline;
        font-size: 1.3rem;
    }

    .take_action_section {
        background-color: hsl(142, 77%, 86%);
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .action_tasks {
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(220, 30%, 30%);
        column-gap: 5%;
        padding: 2% 10%;
    }

    .take_action {
        background-color: hsl(220, 30%, 30%);
        color: white;
        width: 15%;
        text-align: center;
        padding: 1% 3%;
        margin-top: -1%;
        white-space: nowrap;
        font-weight: normal;
    }

    .actions h4 {
        font-weight: bold;
        font-size: 1.5rem;
        padding-bottom: 7%;
    }

    .actions p {
        font-size: 0.9rem;
        line-height: 1.3;
    }

    .what_we_do {
        background-color: hsl(220, 30%, 30%);
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
    }

    .what_we_do_heading {
        text-align: center;
        background-color: #ffffff;
        color: hsl(220, 30%, 30%);
        margin: 7% 10% 1% 15%;
        width: 12%;
        padding: 1%;
        white-space: nowrap;
    }

    .what_we_do .what_we_do_cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0% 10%;
    }

    .what_we_do h2 {
        color: white;
        margin-left: 15%;
        font-size: 2.5rem;
        width: 80%;
        line-height: 1.5;
        margin-bottom: 4%;
    }

    .info_card {
        background-color: white;
        width: 80%;
        color: hsl(220, 30%, 30%);
        padding-left: 5%;
        padding-bottom: 0%;
        height: 90%;
        position: relative;
    }

    .info_card img {
        object-fit: cover;
        width: 90%;
        height: 35%;
        position: relative;
        left: 15%;
        bottom: 7%;
    }

    .card_data p {
        padding: 5%;
        line-height: 1.5;
        padding-top: 0%;
    }

    .card_data h3 {
        padding-left: 5%;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: bold;
    }

    .read_more {
        position: absolute;
        bottom: 1rem;
        left: 5%;
    }

    .did_you_know {
        background-image: url(../assets/did-you-know-background.png);
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 5%;
    }

    .quote {
        margin-top: 20%;
        justify-self: center;
        padding: 10%;
    }

    .did_you_know h2 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 6rem;
        color: white;

    }

    .did_you_know_cards .card {
        background-color: white;
        color: hsl(220, 30%, 30%);
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: left;
        align-items: left;
        font-family: sans-serif;
        margin-top: 2%;
        padding: 7% 0% 7% 5%;
    }

    .did_you_know_icons {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 7%;
        margin-left: 20%;
    }

    .did_you_know_icons a {
        justify-self: center;
        align-self: center;
        padding: 70%;
        background-color: hsl(142, 77%, 86%);
        border-radius: 50%;
    }

    .did_you_know_cards .card h3 {
        font-size: 2rem;
        padding-bottom: 3%;
    }

    .did_you_know_cards .card p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .did_you_know_card_content {
        width: 60%;
    }

    .did_you_know_heading {
        background-color: hsl(220, 30%, 30%);
        width: 25%;
        color: white;
        padding: 2%;
        text-align: center;
        position: relative;
        left: 18%;
        top: 5%;
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: normal;
        white-space: nowrap;
    }

    .take_action_today {
        border-radius: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: hsl(142, 77%, 86%);
        border: none;
        padding: 5% 1%;
        color: hsl(220, 30%, 30%);
        margin: 8% 8%;
        width: 40%;
        cursor: pointer;
    }

    .stories {
        height: 50vh;
    }

    .stories_content_data {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .stories img {
        width: 40%;
        height: 90%;
    }

    .stories_content {
        background-color: hsl(220, 30%, 30%);
        width: 35%;
        color: white;
        text-align: left;
        padding: 4%;
        font-size: 1.8rem;
        font-family: sans-serif;
        font-weight: bold;
        line-height: 1.5;
        position: relative;
        left: 5%;
    }

    .stories_heading {
        left: 55%;
        background-color: hsl(220, 30%, 30%);
        width: 10%;
        color: white;
        padding: 1%;
        text-align: center;
        z-index: 2;
        position: relative;
        font-size: 1rem;
        font-family: sans-serif;
        top: 5%;
        font-weight: normal;
    }

    .read_more_btn {
        padding: 2% 5%;
        position: absolute;
        top: 110%;
        left: 0%;
        margin-bottom: 10%;
    }

    .who {
        font-size: 1rem;
        padding-top: 7%;
        font-weight: normal;
    }

    .event {
        background-color: hsl(220, 30%, 30%);
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
        margin-top: 25%;
        color: hsl(0, 0%, 100%);
        padding: 2%;
    }

    .event .quote1 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        padding: 5% 15%;
        width: 80%;
        line-height: 1.5;
    }

    .event_content_data {
        display: flex;
        justify-content: center;
    }

    .event_content_data img {
        height: 35%;
        width: 35%;
        margin-right: 5%;
        position: relative;
        bottom: 7vh;
    }

    .event_data {
        margin-top: 2%;
        margin-right: 5%;
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .event_data h2 {
        font-size: 2.8rem;
        line-height: 1.5;
    }

    .event_data p {
        padding-top: 3%;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .read_more_button {
        margin-top: 3%;
        width: 30%;
        padding: 2%;
        white-space: nowrap;
    }

    .event_heading {
        display: none;
    }

    .event_heading_desk {
        background-color: hsl(0, 0%, 100%);
        width: 10%;
        position: relative;
        left: 53%;
        top: 20%;
        color: hsl(220, 30%, 30%);
        padding: 1% 2%;
        font-weight: normal;
    }

    .event_heading_desk1 {
        margin-top: 10%;
        background-color: hsl(0, 0%, 100%);
        width: 18%;
        position: relative;
        text-align: center;
        left: 12%;
        top: 10%;
        color: hsl(220, 30%, 30%);
        padding: 1% 2%;
        white-space: nowrap;
        font-weight: normal;
    }

    .event_content_data:last-of-type {
        flex-direction: row-reverse;
    }

    .subscribe {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: hsl(142, 77%, 86%);
        color: hsl(220, 30%, 30%);
        padding: 5% 15%;
        font-size: 2rem;
        font-weight: bold;
        grid-column-gap: 2%;
    }

    .subscribe p {
        grid-column: 1/3;
    }

    .subscribe .action_btns {
        display: flex;
    }

    .subscribe_btn {
        background-color: hsl(220, 30%, 30%);
        color: hsl(142, 77%, 86%);
        margin-left: 4%;
    }

    .email {
        border-radius: 35px;
        border: none;
        padding: 3%;
        font-size: 1.2rem;
    }

    .footer {
        padding: 5% 15%;
        color: hsl(220, 30%, 30%);
        font-family: sans-serif;
        display: flex;
        grid-column-gap: 2%;
    }

    .foot_title {
        font-size: 2rem;
        width: 20%;
    }

    .follow_us,
    .learn_more {
        width: 20%;
        line-height: 1.2;
        font-size: 1.3rem;
    }

    .contact_us {
        width: 20%;
    }

    .contact_heading {
        font-size: 1.2rem;
    }

    .contact_us p {
        font-size: 0.9rem;
        line-height: 1.3;
    }

    .follow_us a,
    .learn_more a {
        font-size: 1rem;
        color: hsl(220, 30%, 30%);
    }

    .footer h2 {
        width: 10%;
        text-align: right;
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
    }

    .desktop_hr {
        display: block;
        width: 50%;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .address {
        line-height: 1.5;
    }

}

@media screen and (min-width:1000px) and (max-width:1300px) {
    .info_card{
        height: 110%;
    }
}